<footer class="footer bg-default" style="font-family:'Black Ops';">

    <div class="container">

        <div class="row row-grid align-items-center mb-5">
            <div class="col-lg-6">
                <h3 class="font-weight-light mb-2 text-white">Thank you for supporting us!</h3>
                <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
            </div>
            <div class="col-lg-6 text-lg-center btn-wrapper">
                <button target="_blank" href="#" rel="nofollow"
                        class="btn btn-icon-only btn-twitter rounded-circle" data-toggle="tooltip"
                        data-original-title="Follow us">
                    <span class="btn-inner--icon"><i class="fa-brands fa-twitter"></i></span>
                </button>
                <button target="_blank" href="#" rel="nofollow"
                        class="btn-icon-only rounded-circle btn btn-facebook" data-toggle="tooltip"
                        data-original-title="Like us">
                    <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
                </button>
                <a target="_blank" href="https://mastodon.social/@goodrobots" rel="nofollow"
                        class="btn btn-icon-only btn-mastodon rounded-circle" data-toggle="tooltip"
                        data-original-title="Follow us">
                    <span class="btn-inner--icon"><i class="fa-brands fa-mastodon"></i></span>
                </a>
                <a target="_blank" href="#" rel="nofollow"
                        class="btn btn-icon-only btn-medium rounded-circle" data-toggle="tooltip"
                        data-original-title="Subscribe">
                    <span class="btn-inner--icon"><i class="fa-brands fa-medium"></i></span>
                </a>
                 <a target="_blank" href="#" rel="nofollow"
                        class="btn btn-icon-only btn-medium rounded-circle" data-toggle="tooltip"
                        data-original-title="Subscribe">
                    <span class="btn-inner--icon"><i class="fa-brands fa-leanpub"></i></span>
                </a>
                 <a target="_blank" href="#" rel="nofollow"
                        class="btn btn-icon-only btn-medium rounded-circle" data-toggle="tooltip"
                        data-original-title="Subscribe">
                    <span class="btn-inner--icon"><i class="fa-brands fa-github"></i></span>
                </a>
            </div>
        </div>
        <hr>
        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6">
                <div class="copyright">
                    &copy; 2023 <a href="" target="_blank">Good Robots</a>.
                    <a href="#" class="pl-2"><i class="fa-sharp fa-solid fa-sitemap"></i></a>
                    <a href="#" class="pl-2"><i class="fa-solid fa-rss"></i></a>
                </div>

            </div>
            <div class="col-md-6">
                <ul class="nav nav-footer justify-content-end">

                    <li class="nav-item">
                        <a href="{{ url_for('views.about')}}" class="nav-link" target="_blank">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('views.archive')}}" class="nav-link" target="_blank">Blog</a>
                    </li>
                     <li class="nav-item">
                        <a href="{{ url_for('views.tos')}}" class="nav-link" target="_blank">Terms Of Use</a>
                    </li>
                     <li class="nav-item">
                        <a href="{{ url_for('views.privacy')}}" class="nav-link" target="_blank">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" target="_blank">License</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>