<div class="container-fluid">
            <img class="bg-image section-image" src="/static/assets/img/ill/trialb.png" alt=""
                 style="opacity:0.05;position:absolute;">
            <div class="row">
                <div class="container" style="padding-top:80px;">
                    <div class="row">
                        <div class="col-md-8 mx-auto text-center">
                            <h2 class="display-2">{% block title_name %}  {% endblock %}</h2>
                        </div>
                    </div>
                    {% block textbox %}
                    <div class="row">
                        <div class="floating-box bg-default">
                            <div class="box text-center">

                            </div>
                            <h2 class="lead text-white p-5">As a result of growing greenhouse gas emissions, climate
                                models predict that our planet will get significantly warmer, that ecosystems will be
                                changed or destroyed, and that enormous human and economic costs will be incurred. These
                                scenarios aren’t guaranteed, but avoiding them will be very hard. We’re trying to take
                                small steps to mitigate our impact.</h2>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>