Flask==2.2.3
Flask-Mail==0.9.1
Flask-Markdown==0.3
Flask-MDEditor==0.1.4
flask-paginate==2022.1.8
Flask-WTF==1.1.1
gunicorn==20.1.0
Jinja2==3.1.2
Markdown==3.4.1
MarkupSafe==2.1.2
openai==0.27.2
Pillow==9.0.1
pymongo==4.3.3
tqdm==4.65.0
Werkzeug==2.2.3
WTForms==3.0.1
yake==0.4.8
passlib