{%extends 'elements/views/base.html' %}
    {% block meta_tags %}
    <meta name="title"  content="Privacy Policy | Good Robots - Research Journalism For Safety In Cyberspace">
    <meta name="brand"  content="Good Robots">
    <meta  name="description" content="Privacy Policy | Good Robots - Research Journalism For Safety In Cyberspace">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@GoodRobotsAI" />
    <meta name="twitter:creator" content="@GoodRobotsAI" />
    <meta property="og:url" content="https://goodrobots.ai/privacy-policy" />
    <meta name = "date" content="date">
    <meta name = "author" content="Good Robots">
    <meta property="og:type" content="site">
    <meta property="og:site_name" content="Good Robots">
    <meta property="og:locale" content="en_US">
    <meta property="og:title"   content="Good Robots">
    <meta property="og:description" content="We provide evidence to drive
                    real-world impact for an equal, fair and safe cyberspace. We create awareness on the topics that
                    matter in AI, Cyber Crime, Data Privacy and Big Tech.">
    <meta property="og:image" content="/static/assets/img/brand/green.png">

     <title>
        Privacy Policy | Good Robots - Research Journalism For Safety In Cyberspace
    </title>
    {% endblock %}
{% block content %}

<section class="section header">

    <div class="container-fluid">
        <img class="bg-image section-image" src="/static/assets/img/ill/trialb.png" alt=""
             style="opacity:0.05;position:absolute;">
        <div class="row">
            <div class="container" style="padding-top:20px;">
                <div class="row">
                    <div class="col-md-8 mx-auto text-center">
                        <h2 class="display-2"></h2>
                        <img src="/static/assets/img/pages/pp_white.png" style="max-width:350px;"
                             class="img-responsive">
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="section about" style="width:80%;margin:auto;">
    <div class="container card" style="max-width:65%;margin:auto;border:2px solid #034447;padding:50px;">
        Good Robots Privacy Policy

        At Good Robots, we take your privacy and data protection seriously. This privacy policy outlines how we collect,
        use, and protect your personal information when you visit our website. By accessing and using our website, you
        agree to the terms of this policy.

        <h2 class="page-h2-header">Personal Information Collection</h2>
        We only collect personal information that you voluntarily provide to us, such as your name, email address, and
        any other information that you choose to share with us through our website or social media channels.

        <h2 class="page-h2-header">Personal Information Use</h2>
        We use your personal information to communicate with you about our website, services, and any updates or
        changes. We will never share your personal information with any third party without your consent, unless
        required to do so by law.

        <h2 class="page-h2-header">Website Usage Data</h2>
        We use cookies and other similar technologies to collect data on how you use our website, such as the pages you
        visit, the links you click, and the time you spend on each page. This data is used to improve our website's
        performance and functionality, or to better understand our audience's interests and preferences.

        <h2 class="page-h2-header">Non-Commercial Use</h2>
        All datasets, images, and articles published on our website are protected by copyright law. You are free to use
        and share these materials for non-commercial purposes, provided that you give credit to our website and link
        back to the original source. You may not modify, distribute, or sell our content without our prior written
        consent.

        <h2 class="page-h2-header">Data Protection</h2>
        We take appropriate measures to ensure the security and protection of your personal information, in compliance
        with regional data protection laws such as the General Data Protection Regulation (GDPR) in the European Union.
        However, no method of transmission or storage is completely secure, and we cannot guarantee the absolute
        security of your personal information.

        <h2 class="page-h2-header">Third Party Links</h2>
        Our website may contain links to third party websites or services that are not owned or controlled by Good
        Robots. We are not responsible for the privacy policies or practices of these third parties, and we recommend
        that you review their policies before providing any personal information.

        <h2 class="page-h2-header">Modification of Policy</h2>
        We reserve the right to modify this privacy policy at any time, without prior notice. By continuing to use our
        website after the modifications become effective, you agree to be bound by the revised policy.

        <h2 class="page-h2-header">Contact Us</h2>
        <p>
        If you have any questions or concerns about our privacy policy or the data we hold about you, please contact us
            at <a href="mailto:fair@goodrobots.ai">fair@goodrobots.ai</a></p>.

        <br>
        Thank you for visiting Good Robots.
    </div>
</section>

<section class="section subscribe">
    {%include 'elements/views/subscribe.html'%}
</section>
{% endblock %}

